<app-emotion-slider></app-emotion-slider>
<div>
  <h2 for="negativeInfluence">Which emotion you reported above negatively influenced your Knowledge Building?</h2>
  <select formControlName="negativeInfluence" id="negativeInfluence">
    <option value="" disabled>Select:</option>
    <option value="joyful">Joyful</option>
    <option value="curious">Curious</option>
    <option value="surprised">Surprised</option>
    <option value="confused">Confused</option>
    <option value="anxious">Anxious</option>
    <option value="frustrated">Frustrated</option>
    <option value="bored">Bored</option>
  </select>
</div>
<div>
  <h2 for="emotionCause">What caused that emotion?</h2>
  <textarea formControlName="emotionCause" id="emotionCause" style="width: 600px; height: 120px; resize: none;"></textarea>
</div>
<div>
  <h2 for="additionalComments">Is there anything else that you want to share?</h2>
  <textarea formControlName="additionalComments" id="additionalComments" style="width: 600px; height: 120px; resize: none;"></textarea>
</div>
<button type="submit">Submit</button>