form {
  max-width: 600px;
  margin-left: 3%;
}

div {
  margin-bottom: 30px;
}

label {
  font-weight: bold;
}

.radio-group {
  display: flex;
  flex-direction: row;
}

.radio-group label {
  margin-right: 20px; /* Adjust spacing between radio buttons */
}

.emotion-label {
  margin-right: 30px; /* Adjust width as needed for consistent spacing */
  width: 100px;
  margin-bottom: 10px; /* Adjust margin as needed for vertical spacing */
}
