<h2>I am feeling...</h2>
<form [formGroup]="feelingsForm" (ngSubmit)="onSubmit()">
  <div>
    <div class="radio-group">
      <label class="emotion-label">Joyful:</label>
      <label>
        <input type="radio" formControlName="joyful" value="very-weak"/>
        <br />
        Very Weak
      </label>
      <label>
        <input type="radio" formControlName="joyful" value="weak" />
        Weak
      </label>
      <label>
        <input type="radio" formControlName="joyful" value="moderate" />
        Moderate
      </label>
      <label>
        <input type="radio" formControlName="joyful" value="strong" />
        Strong
      </label>
      <label>
        <input type="radio" formControlName="joyful" value="very-strong" />
        <br />
        Very Strong
      </label>
    </div>
  </div>
  <div>
    <div class="radio-group">
      <label class="emotion-label">Curious:</label>
      <label>
        <input type="radio" formControlName="curious" value="very-weak" />
        <br />
        Very Weak
      </label>
      <label>
        <input type="radio" formControlName="curious" value="weak" />
        Weak
      </label>
      <label>
        <input type="radio" formControlName="curious" value="moderate" />
        Moderate
      </label>
      <label>
        <input type="radio" formControlName="curious" value="strong" />
        Strong
      </label>
      <label>
        <input type="radio" formControlName="curious" value="very-strong" />
        <br />
        Very Strong
      </label>
    </div>
  </div>
  <div>
    <div class="radio-group">
      <label class="emotion-label">Surprised:</label>
      <label>
        <input type="radio" formControlName="surprised" value="very-weak" />
        <br />
        Very Weak
      </label>
      <label>
        <input type="radio" formControlName="surprised" value="weak" />
        Weak
      </label>
      <label>
        <input type="radio" formControlName="surprised" value="moderate" />
        Moderate
      </label>
      <label>
        <input type="radio" formControlName="surprised" value="strong" />
        Strong
      </label>
      <label>
        <input type="radio" formControlName="surprised" value="very-strong" />
        <br />
        Very Strong
      </label>
    </div>
  </div>
  <div>
    <div class="radio-group">
      <label class="emotion-label">Confused:</label>
      <label>
        <input type="radio" formControlName="confused" value="very-weak"/>
        <br />
        Very Weak
      </label>
      <label>
        <input type="radio" formControlName="confused" value="weak" />
        Weak
      </label>
      <label>
        <input type="radio" formControlName="confused" value="moderate" />
        Moderate
      </label>
      <label>
        <input type="radio" formControlName="confused" value="strong" />
        Strong
      </label>
      <label>
        <input type="radio" formControlName="confused" value="very-strong" />
        <br />
        Very Strong
      </label>
    </div>
  </div>
  <div>
    <div class="radio-group">
      <label class="emotion-label">Anxious:</label>
      <label>
        <input type="radio" formControlName="anxious" value="very-weak" />
        <br />
        Very Weak
      </label>
      <label>
        <input type="radio" formControlName="anxious" value="weak" />
        Weak
      </label>
      <label>
        <input type="radio" formControlName="anxious" value="moderate" />
        Moderate
      </label>
      <label>
        <input type="radio" formControlName="anxious" value="strong" />
        Strong
      </label>
      <label>
        <input type="radio" formControlName="anxious" value="very-strong" />
        <br />
        Very Strong
      </label>
    </div>
  </div>
  <div>
    <div class="radio-group">
      <label class="emotion-label">Frustrated:</label>
      <label>
        <input type="radio" formControlName="frustrated" value="very-weak" />
        <br />
        Very Weak
      </label>
      <label>
        <input type="radio" formControlName="frustrated" value="weak" />
        Weak
      </label>
      <label>
        <input type="radio" formControlName="frustrated" value="moderate" />
        Moderate
      </label>
      <label>
        <input type="radio" formControlName="frustrated" value="strong" />
        Strong
      </label>
      <label>
        <input type="radio" formControlName="frustrated" value="very-strong" />
        <br />
        Very Strong
      </label>
    </div>
  </div>
  <div>
    <div class="radio-group">
      <label class="emotion-label">Bored:</label>
      <label>
        <input type="radio" formControlName="bored" value="very-weak" />
        <br />
        Very Weak
      </label>
      <label>
        <input type="radio" formControlName="bored" value="weak" />
        Weak
      </label>
      <label>
        <input type="radio" formControlName="bored" value="moderate" />
        Moderate
      </label>
      <label>
        <input type="radio" formControlName="bored" value="strong" />
        Strong
      </label>
      <label>
        <input type="radio" formControlName="bored" value="very-strong" />
        <br />
        Very Strong
      </label>
    </div>
  </div>
</form>
